// Background
$primary-bg: #212121;
$primary-bg-light: #484848;
$primary-bg-dark: #0f0f0f;
// Text
$primary-text-color: #FFF;
$title-text-color: #fafafa;
// Color scheme
$branding-primary: #d500f9;
$branding-primary-light: #ff5bff;
$branding-primary-dark: #9e00c5;

$branding-info: #00b0ff;
$branding-info-light: #69e2ff;
$branding-info-dark: #0081cb;

$branding-success: #00e676;
$branding-success-light: #66ffa6;
$branding-success-dark: #00b248;

$branding-warning: #ffeb3b;
$branding-warning-light: #ffff72;
$branding-warning-dark: #c8b900;

$branding-danger: #ff1744;
$branding-danger-light: #ff616f;
$branding-danger-dark: #ff616f;
