@import '../globals';
#App-nav {
  background-color: $primary-bg-dark;
  padding: em(5) 0;
  .nav-item {
    align-items: stretch;
    li {
      align-items: center;
    }
  }
  h2, span {
    color: white;
  }

  h2, svg {
    align-self: center;
  }

  h2 {
    margin-bottom: 0;
    font-weight: 600;
  }

  .beta-tag {
    align-self: flex-end;
    padding-bottom: em(5);
  }
  .heading-content {
    padding-left: em(10);
  }

  .login-with-discord {
    border: none;
    color: #FFF;
    background: #7289DA;
    transition: background ease 0.3s;
    &:hover {
      background: darken(#7289DA, 10%);
      color: white;
    }
  }
}